<!DOCTYPE html>
<html>
<head>
  <title>Pinho</title>
  <%= stylesheet_link_tag    "pinho/application", media: "all" %>
  <%= javascript_include_tag "pinho/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
